/* .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.menu-card {
    width: 30%;
    padding: 20px;
}

img {
    width: 100%;
}

.menus {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 100px;
}

.active {
    background-color: aquamarine;
} */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* .accordions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.accordion {
    width: 100%;
    margin-bottom: 20px;
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-head {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.accordion-btn {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: black;
    cursor: pointer;
}

.accordion-body {
    padding-top: 10px;
    height: 0px;
    overflow: hidden;
    transition: all 3s ease-in-out;
}

.show {
    height: auto;
} */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* .modal {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(127, 255, 212, 0.308);
    z-index: 100;
    display: none;
}

.modal-close {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 13px;
    border-radius: 100px;
    align-self: flex-end;
}

.modal-content {
    border-top: 1px solid black;
    margin-top: 10px;
} */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* .video-container {
    width: 100%;
}

video {
    width: 100%;
}

.video-play {
    background-color: black;
    color: white;
}

.preloader {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-content {
    width: 40px !important;
    height: 40px !important;
    border-bottom: 5px solid blue;
    border-top: 5px solid rgba(255, 0, 0, 0.973);
    border-left: 5px solid rgb(0, 255, 213);
    border-right: 5px solid white;
    border-radius: 100%;
    animation: preloader 1s infinite linear;
}

@keyframes preloader {
    100% {
        transform: rotate(360deg);
    }
}

.preloader-hide {
    visibility: hidden;
    z-index: -999;
} */

/* ================================================== */
/* ================================================== */
/* ================================================== */
/* .active {
    background-color: black;
    color: white;
}

.tab {
    display: none;
}

.show {
    display: block;
} */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
}

h1 {
    margin: 0px;
}

.section {
    width: 100%;
    height: 80vh;
    text-align: center;
    background-color: rgba(121, 123, 124, 0.199);
    scroll-behavior: smooth;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: rgba(65, 105, 225, 0.349);
    text-align: center;
}

#tour,
#about {
    background-color: rgba(0, 255, 255, 0.192);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.links li {
    color: black;
    list-style: none;
}

.slide-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: beige;
    padding: 10px 50px;
    animation-name: navbar;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
}

@keyframes navbar {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.active {
    color: aqua;
} */

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.timer-section {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.178);
    padding: 20px;
} */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-direction: column; */
}

/* .input {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-color: aliceblue;
}

button {
    padding: 8px 20px;
    background-color: brown;
    color: white;
    border: 1px solid brown;
    border-radius: 100px;
    font-weight: 600;
}

button:hover {
    background-color: rgba(165, 42, 42, 0.815);
}

li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

li span {
    background-color: rgb(180, 34, 34);
    color: white;
    padding: 7px 10px;
    border-radius: 100px;
    font-size: 12px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

li::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-image: url(assets/images/6.jpg);
}


.checked::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-image: url(assets/images/14.jpg);
} */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 800px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.slide {
    width: 1200px;
    margin: auto;
    position: absolute;
    transition: all .3s ease-in-out;
}

.slide:nth-child(1) {
    left: 0%;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide {
    transform: translateX(0%);
}

img {
    width: 100%;
}

.active {

    background-color: black !important;
}

.slider-btn {
    display: flex;
    padding: 20px;
    column-gap: 5px;
}

.slide-btn {
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 100px;
} */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* .carousel {
    width: 68%;
    height: auto;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    display: flex;
    justify-content: start;
    column-gap: 40px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {

scroll-snap-align: start;
}

.carousel.transition {
    scroll-behavior: auto;
}

.carousel .dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.carousel .dragging .carousel-item {
    cursor: grab;
    user-select: none;
}

.arrowBtn {
    cursor: pointer;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 100px;
}

*/
/* .carousel-item:nth-child(1) {
    left: 0px;
}

.carousel-item:nth-child(2) {
    left: 30%;
}

.carousel-item:nth-child(3) {
    left: 60%;
}

.carousel-item:nth-child(4) {
    left: 90%;
} */
/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
/* .form {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.error {
    color: red;
    border-color: red;
} */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* body {
    background-color: rgba(0, 0, 0, 0.459);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
}

.card {
    border: 2px solid black;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(185, 185, 185);
}

.card-body button {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover:not([disabled]) {
    background-color: gray;
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

.next-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.next {
    padding: 10px 30px;
    background-color: rgba(32, 32, 126, 0.781);
    border-radius: 5px;
    color: white;
    border: 1px solid rgba(32, 32, 126, 0.781);
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    display: none;
}

.next:hover {
    transform: scale(110%);
}

.correct {
    background-color: rgba(0, 128, 0, 0.438) !important;
}

.incorrect {
    background-color: rgba(255, 0, 0, 0.301) !important;
} */

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
.container {
    flex-direction: column;
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.active {
    background-color: rebeccapurple;
} */
/* ================================================================== */
/* ================================================================== */
/* ================================================================== */
/* .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    flex-direction: column;
}

.image-view {
    display: flex;
}

.cros-btn {
    color: white;
    cursor: pointer;
    padding-left: 40px;
}

.images {
    margin-top: 30px;
    display: flex;
    column-gap: 10px;
}

.pre-img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border: 2px solid rgb(148, 143, 143);
    opacity: .3;
}



.active {
    opacity: 1;
    border-color: white;
}

.btn {
    color: white;
    background-color: black;
    cursor: pointer;
}


.next {
    position: absolute;
    left: 70%;
    top: 40%;
}

.prev {
    position: absolute;
    top: 40%;
    left: 23%;

}

.animation {
    animation: ani .5s ease-in-out linear;
}

@keyframes ani {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
} */
/* ================================================================== */
/* ================================================================== */
/* ================================================================== */
/* .card-container {}

.card {
    padding: 15px;
    border-radius: 20px;
    border: 2px solid gray;
    margin: 10px 0px;
    text-align: center;
    transform: translateX(200%);
    transition: all .4s ease;
    opacity: 0;
}

.show {
    transform: translateX(0%);
    opacity: 1;
} */
/* ================================================================== */
/* ================================================================== */
/* ================================================================== */
/* .container {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.toast {
    position: fixed;
    top: 20px;
    overflow: hidden;
    right: 30px;
    width: 200px;
    padding: 20px;
    border-left: 6px solid blue;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.274);
    transition: all .3s cubic-bezier(0.69, 1.91, 1, 0.86);
    transform: translateX(calc(100% + 30px));
    background-color: white;
}

.toast.show {
    transform: translateX(0%);
}

.progress.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 5px;
    z-index: -1;
    background-color: blue;
    animation: ani 5s linear forwards;
}

@keyframes ani {
    100% {
        right: 100%;
    }

    0% {
        right: 0;
    }
}

.cross {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
} */
/* ============================================ */
/* ============================================ */
/* ============================================ */
/* .error {
    display: none;
}

.invalid {
    display: block;
    color: red;
} */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* .multi-select {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
}

.select-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.span {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100px;
    cursor: pointer;
}

.active {
    background-color: rgb(18, 113, 238);
}

.selects {
    margin-top: 10px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.select {
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.open {
    height: 100%;
} */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* :root {
    --primary-color: black;
    --white-color: white;
    --shadow: rgba(0, 0, 0, 0.301)
}

.dark {
    --primary-color: white;
    --white-color: black;
    --shadow: rgb(255 255 255 / 30%);

}

.body {
    background-color: var(--white-color);
}

.container {
    height: 100vh;
}

.clock {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 64px 6px var(--shadow);

}

.btn {
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 24px;
    font-weight: 600;
}

.clock-digits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-digits label {
    top: 0;
    position: absolute;
    inset: 15px;
    text-align: center;
    transform: rotate(calc(var(--i)*(360deg/12)));

}

.clock-digits label span {
    display: inline-block;
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 700;
    transform: rotate(calc(var(--i)*(-360deg/12)));
}

.indicators::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    background-color: var(--primary-color);
    border: 4px solid red;
    z-index: 999;
}


.indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minute {
    position: absolute;
    width: 5px;
    height: 90px;
    bottom: 0;
    background: var(--primary-color);
    border-radius: 24px;
    z-index: -1;
    transform-origin: bottom;
}

.second {
    position: absolute;
    width: 5px;
    height: 100px;
    bottom: 0;
    background-color: rgb(255, 0, 0);
    border-radius: 24px;
    /* transform: rotate(45deg); */
/* bottom: 0;
transform-origin: bottom;
z-index: 100;
}

.hour {
    position: absolute;
    width: 5px;
    height: 70px;
    bottom: 0;
    background-color: var(--primary-color);
    border-radius: 24px;
    bottom: 0;
    transform-origin: bottom;
    z-index: -1;
}

*/
.body {
    background-color: rgba(0, 0, 0, 0.664);
}

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* .body {
    background-color: black;
}

.container {
    height: 100vh;
}

.card {
    position: relative;
    background-color: rgb(18, 15, 36);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    width: 390px;
    height: 390px;
    background-color: rgb(18, 15, 36);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.percent {
    color: white;
    font-size: 48px;
    text-align: center;
    mix-blend-mode: difference;
}

.active::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: conic-gradient(transparent, transparent, transparent, white);
    border: 100px;
}

.active::before {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* ================================================ */
/* ================================================ */
/* ================================================ */
/* .inp input {
    padding: 10px;
    border: none;
}

.inp input:focus {
    outline: none;
}

.inp {
    display: flex;
}

.show-password {
    background-color: white;
    border: none;
    cursor: pointer;
} */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.star {
    font-size: 38px;
    color: rgba(255, 255, 255, 0.493);
    mix-blend-mode: difference;
    cursor: pointer;
}

.active {
    color: gold;
} */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* .img-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    width: 250px;
    height: 200px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.image {
    background-image: url('assets/images/11.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.hovered {
    border: 2px dashed rgb(255, 255, 255);
} */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* .icon {
    color: black;
}

.link {
    background: white;
    padding: 10px;
    border-radius: 50%;
}

.btn {
    background: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    z-index: 4;
    cursor: pointer;
    transform: rotate(-315deg);
}

.nav-container {
    position: fixed;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 20px;
    row-gap: 20px;
    transform: rotate(315deg);
}

.nav-items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.link {
    position: absolute;
    transform: rotate(calc(var(--i)*(360deg/8))) translateY(120px);
}

.icon {
    transform: rotate(calc(var(--i)*(360deg/-9))); 
}
    */
/* ============================================= */
/* ============================================= */
/* ============================================= */
/* .section {
    min-height: 100vh;
    color: white;
    overflow: hidden;
}

.hidden {
    opacity: 0;
    transition: all 1s linear;
    transform: translateX(-100%);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.card {
    width: 250px;
    height: 250px;
    background-color: rgb(124, 130, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.card:nth-child(2) {
    transition-delay: 200ms;
} */

/* .card:nth-child(3) {
    transition-delay: 300ms;

}

.card:nth-child(4) {
    transition-delay: 400ms;

} */


/* .animate {
    transition: 1s;
    opacity: 0;
    transform: translateX(100%);
}

.card:nth-child(4) {
    transition-delay: 200ms;
}

.card:nth-child(3) {
    transition-delay: 300ms;
}

.show {
    opacity: 1;
    transform: translate(0);
} */
/* ================================================ */
/* ================================================ */
/* ================================================ */